.header {
    position: relative;
    z-index: 2;
    height: 60px;
    background-color: white;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.header-right {
    display: flex;
    gap: 10px;
}

.logo img {
    height: 60px;
    width: auto;
}
