.films-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 240px);
    justify-content: center;
    gap: 40px 40px;
    padding: 20px;
    margin: 10vh 0;
}

.film-card {
    width: 240px;
    height: 320px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition:
        transform 0.3s,
        box-shadow 0.3s;
    position: relative;
}

.film-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.film-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.film-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 8px;
    box-sizing: border-box;
    text-align: center;
}

.film-info h3 {
    margin: 0;
    font-size: 24px;
}

.film-info p {
    margin: 2px 0 0;
    font-size: 16px;
}
