<main class="index">
    <div class="main_page">
        <img src="/img/bg_picture.svg" alt="Background picture">
        <div class="text-container">
            <h1>POPFILMS</h1>
            <h2>Series, popcorn and chill</h2>
            <button class="btn default play">▶</button>
        </div>
    </div>

    <div class="section-title">
        <h1>Popular series</h1>
    </div>

    <div class="films-container" id="filmsContainer">
        
    </div>
</main>