@use '@shared/styles/media';
@use '@shared/styles/mixins';

.account {
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        background: linear-gradient(to bottom, var(--color-bg), var(--color-blue));
        padding-bottom: var(--padding-medium);
    }

    &__form {
        width: 440px;
        padding: var(--padding-large);
        background-color: var(--color-bg);
        border-radius: var(--border-radius);
        display: flex;
        flex-direction: column;
        row-gap: var(--padding-medium);
    }

    &__avatar {
        position: relative;
        width: 100px;
        height: 100px;
        margin: 0 auto var(--padding-medium);
    }

    &__avatar-image {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
    }

    &__avatar-edit {
        @include mixins.reset-button;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background-color: var(--color-light-gray);
        display: flex;
        align-items: center;
        justify-content: center;

        @include media.hover {
            background-color: var(--color-grey-hover);
        }
    }

    &__avatar-icon {
        width: 24px;
        height: 24px;
    }

    &__input-wrapper {
        position: relative;
    }

    &__input {
        width: 100%;
        height: 54px;
        padding: 0 var(--padding-medium);
        border-radius: var(--border-radius);
        text-align: left;

        &::placeholder {
            color: var(--color-light-gray);
        }

        &.is-invalid {
            border-color: var(--color-red);
        }

        &[type="date"] {
            text-align: left;

            &::-webkit-datetime-edit {
                text-align: left;
            }

            &::-moz-datetime-edit {
                text-align: left;
            }
        }
    }

    &__input-icon {
        position: absolute;
        top: 50%;
        right: var(--padding-medium);
        transform: translateY(-50%);
        width: 24px;
        height: 24px;
    }

    &__error {
        text-align: left;
        color: var(--color-red);
        font-size: 14px;
        margin-top: var(--padding-small);

        &[hidden] {
            display: none;
        }
    }

    &__button {
        width: 100%;
        height: 54px;
    }
}