#newAppealIframe {
    width: 440px;
    height: 500px;
    border: 1px solid var(--color-text);
    z-index: 1000;
  }

.iframe-wrapper {
    position: fixed;
    display: none;

    background-color: var(--color-bg);

    z-index: 999;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 440px;
    height: 500px;
}

.close-iframe {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;

    width: 40px;
    height: 40px;

    border: none;
    background: var(--color-bg);
    color: var(--color-text);
    font-size: 28px;
    font-weight: bold;
    border-radius: 50%;
    cursor: pointer;

    z-index: 1001;
}
