.films {
    padding-block: var(--padding-large);
    display: grid;
    grid-template-columns: repeat(auto-fit, 240px);
    justify-content: center;
    gap: var(--padding-large) var(--padding-large);

    &__image {
        width: 100%;
        border-radius: var(--border-radius-large);
        overflow: hidden;

        img {
            width: 100%;
            height: auto;
            display: block;
            border-radius: inherit;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: var(--padding-small);
    }

    &__card {
        width: 240px;
        height: 320px;
        border-radius: var(--border-radius-large);
        background-color: white;
        overflow: hidden;

        &:hover {
            transform: translateY(-3px);
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        color: white;
        row-gap: var(--padding-small);
    }

    &__genre {
        color: grey;
    }
}
