@use '@shared/styles/media';
@use '@shared/styles/mixins';

.login {
    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        background: linear-gradient(
            to bottom,
            var(--color-bg),
            var(--color-blue)
        );
    }

    &__form {
        width: 440px;
        min-height: 450px;
        padding: var(--padding-large);
        background-color: var(--color-bg);
        border-radius: var(--border-radius);
        border: var(--border);
        display: flex;
        flex-direction: column;
        row-gap: var(--padding-medium);
    }

    &__title {
        text-align: center;
        font-size: 24px;
        font-weight: 700;
        margin: 0;
    }

    &__input {
        width: 100%;
        height: 54px;
        padding: 0 var(--padding-medium);
        border-radius: var(--border-radius);

        &::placeholder {
            color: var(--color-light-gray);
        }
    }

    &__password {
        position: relative;
    }

    &__eye {
        @include mixins.reset-button;
        position: absolute;
        top: 50%;
        right: var(--padding-medium);
        transform: translateY(-50%);
        color: var(--color-light-gray);

        svg {
            width: 24px;
            height: 24px;
        }

        .login__eye-icon--closed {
            display: none;
        }

        &.is-visible {
            .login__eye-icon--open {
                display: none;
            }

            .login__eye-icon--closed {
                display: block;
            }
        }

        @include media.hover {
            color: var(--color-text);
        }
    }

    &__error {
        text-align: left;
        color: var(--color-red);
        font-size: 14px;

        &[hidden] {
            display: none;
        }
    }

    &__button {
        width: 100%;
        height: 54px;
    }
}
