<footer class='footer container'>
    <div class='footer__description'>
        <p class='footer__title'>
            Developed by «Suzuki + 1» team
        </p>
        <p class='footer__year'>
            2025
        </p>
    </div>
</footer>