<main>
    <div class='video-container'>
        <video
            src="{{video}}"
            poster={{poster}}
            class='video-player'
            id='video-player'
            preload='metadata'
        ></video>
        <div class='video-hud'>
            <div class='video-hud__progress'>
                <input
                    type='range'
                    id='video-hud__progress-bar'
                    class='video-hud__progress-bar'
                    min='0'
                    max='100'
                    value='0'
                    step='0.1'
                />
                <div
                    class='video-hud__curr-time'
                    id='video-hud__curr-time'
                >00:00</div>
                <span class='video-hud__separator'>/</span>
                <div
                    class='video-hud__duration'
                    id='video-hud__duration'
                >00:00</div>
            </div>

            <div class='video-hud__controls'>
                <div class='video-hud__controls-left'>
                    <button
                        class='video-hud__action-play'
                        id='video-hud__action'
                    >
                        <svg
                            class='icon-play'
                            xmlns='http://www.w3.org/2000/svg'
                            width='24'
                            height='24'
                            viewBox='0 0 24 24'
                            fill='none'
                        >
                            <path
                                d='M3 4.00386C3.00038 1.70101 5.48846 0.257225 7.48828 1.39937L21.4863 9.39351C22.4219 9.92792 22.9221 10.8407 22.9893 11.7802C23.021 11.9243 23.021 12.0737 22.9893 12.2177C22.9218 13.157 22.4215 14.0691 21.4863 14.6035L7.48828 22.5986C5.48831 23.7408 3 22.2963 3 19.9931V4.00386Z'
                                fill='#F5F5F5'
                                stroke='#F5F5F5'
                            />
                        </svg>
                        <svg
                            class='icon-pause'
                            xmlns='http://www.w3.org/2000/svg'
                            width='24'
                            height='24'
                            viewBox='0 0 24 24'
                            fill='none'
                        >
                            <path
                                d='M14.2857 3.11111C14.2857 2.49746 14.7974 2 15.4286 2H18.8571C19.4883 2 20 2.49746 20 3.11111V20.8889C20 21.5025 19.4883 22 18.8571 22H15.4286C14.7974 22 14.2857 21.5025 14.2857 20.8889V3.11111Z'
                                fill='#F5F5F5'
                            />
                            <path
                                d='M4 3.11111C4 2.49746 4.51167 2 5.14286 2H8.57143C9.20261 2 9.71429 2.49746 9.71429 3.11111V20.8889C9.71429 21.5025 9.20261 22 8.57143 22H5.14286C4.51167 22 4 21.5025 4 20.8889V3.11111Z'
                                fill='#F5F5F5'
                            />
                        </svg>
                    </button>
                </div>

                <div class='video-hud__controls-right'>
                    <div
                        class='video-hud__mute video-hud__mute-false'
                        id='video-hud__mute'
                    >
                        <svg
                            class='volume-high'
                            xmlns='http://www.w3.org/2000/svg'
                            width='24'
                            height='24'
                            viewBox='0 0 24 24'
                            fill='none'
                        >
                            <path
                                d='M21.8027 8C21.9334 9.31562 22.0002 10.65 22.0002 12C22.0002 13.35 21.9334 14.6844 21.8027 16'
                                stroke='white'
                                stroke-width='1.5'
                                stroke-linecap='round'
                            />
                            <path
                                d='M17.877 9C17.9586 9.9892 18.0002 10.9897 18.0002 12C18.0002 13.0103 17.9586 14.0108 17.877 15'
                                stroke='white'
                                stroke-width='1.5'
                                stroke-linecap='round'
                            />
                            <path
                                d='M13 12C13 9.45813 12.7849 6.9701 12.373 4.55567C12.2494 3.83122 11.4028 3.51321 10.8175 3.95772L7.53627 6.44984C7.18835 6.71409 6.76348 6.85714 6.3266 6.85714H3C1.89543 6.85714 1 7.75257 1 8.85714V15.1429C1 16.2474 1.89543 17.1429 3 17.1429H6.3266C6.76348 17.1429 7.18835 17.2859 7.53627 17.5502L10.8175 20.0423C11.4027 20.4868 12.2494 20.1688 12.373 19.4443C12.7849 17.0299 13 14.5419 13 12Z'
                                fill='white'
                                stroke='white'
                                stroke-linejoin='round'
                            />
                        </svg>
                        <svg
                            class='volume-mute'
                            xmlns='http://www.w3.org/2000/svg'
                            width='24'
                            height='24'
                            viewBox='0 0 24 24'
                            fill='none'
                        >
                            <path
                                d='M13 12C13 9.45813 12.7849 6.9701 12.373 4.55567C12.2494 3.83122 11.4028 3.51321 10.8175 3.95772L7.53627 6.44984C7.18835 6.71409 6.76348 6.85714 6.3266 6.85714H3C1.89543 6.85714 1 7.75257 1 8.85714V15.1429C1 16.2474 1.89543 17.1429 3 17.1429H6.3266C6.76348 17.1429 7.18835 17.2859 7.53627 17.5502L10.8175 20.0423C11.4027 20.4868 12.2494 20.1688 12.373 19.4443C12.7849 17.0299 13 14.5419 13 12Z'
                                fill='white'
                                stroke='white'
                                stroke-linejoin='round'
                            />
                            <path
                                d='M17 9L23 15M17 15L23 9'
                                stroke='white'
                                stroke-width='1.5'
                                stroke-linecap='round'
                                stroke-linejoin='round'
                            />
                        </svg>
                    </div>
                    <input
                        type='range'
                        value='100'
                        max='100'
                        title='Volume'
                        class='video-hud__volume'
                        id='video-hud__volume'
                    />
                    <select
                        title='Speed'
                        class='video-hud__speed'
                        id='video-hud__speed'
                    >
                        <option value='25'>x0.25</option>
                        <option value='50'>x0.50</option>
                        <option value='75'>x0.75</option>
                        <option value='100' selected>x1.00</option>
                        <option value='125'>x1.25</option>
                        <option value='150'>x1.50</option>
                        <option value='175'>x1.75</option>
                        <option value='200'>x2.00</option>
                    </select>

                    <button
                        class='video-hud__action video-hud__fullscreen-false'
                        id='video-hud__fullscreen'
                        title='Fullscreen'
                    >
                        <svg
                            class='fullscreen-icon'
                            xmlns='http://www.w3.org/2000/svg'
                            width='24'
                            height='24'
                            viewBox='0 0 24 24'
                            fill='none'
                        >
                            <path
                                d='M4 9L4 6C4 4.89543 4.89543 4 6 4L9 4'
                                stroke='white'
                                stroke-width='2'
                                stroke-linecap='round'
                                stroke-linejoin='round'
                            />
                            <path
                                d='M20 15V18C20 19.1046 19.1046 20 18 20H15'
                                stroke='white'
                                stroke-width='2'
                                stroke-linecap='round'
                                stroke-linejoin='round'
                            />
                            <path
                                d='M15 4L18 4C19.1046 4 20 4.89543 20 6L20 9'
                                stroke='white'
                                stroke-width='2'
                                stroke-linecap='round'
                                stroke-linejoin='round'
                            />
                            <path
                                d='M9 20L6 20C4.89543 20 4 19.1046 4 18L4 15'
                                stroke='white'
                                stroke-width='2'
                                stroke-linecap='round'
                                stroke-linejoin='round'
                            />
                        </svg>
                        <svg
                            class='exit-fullscreen-icon'
                            xmlns='http://www.w3.org/2000/svg'
                            width='24'
                            height='24'
                            viewBox='0 0 24 24'
                            fill='none'
                        >
                            <path
                                d='M9 4V7C9 8.10457 8.10457 9 7 9H4'
                                stroke='white'
                                stroke-width='2'
                                stroke-linecap='round'
                                stroke-linejoin='round'
                            />
                            <path
                                d='M15 20L15 17C15 15.8954 15.8954 15 17 15L20 15'
                                stroke='white'
                                stroke-width='2'
                                stroke-linecap='round'
                                stroke-linejoin='round'
                            />
                            <path
                                d='M20 9L17 9C15.8954 9 15 8.10457 15 7L15 4'
                                stroke='white'
                                stroke-width='2'
                                stroke-linecap='round'
                                stroke-linejoin='round'
                            />
                            <path
                                d='M4 15L7 15C8.10457 15 9 15.8954 9 17L9 20'
                                stroke='white'
                                stroke-width='2'
                                stroke-linecap='round'
                                stroke-linejoin='round'
                            />
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</main>