
main.auth {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: calc(100vh - 60px);
}

.container {
    margin: auto;
  display: flex;
  height: 100%;
}

.form-container {
  background-color: white;
  padding: 40px 30px;
  border-radius: 8px;
  width: 350px;
  box-sizing: border-box;
}

.form-container h1 {
  text-align: center;
  margin-bottom: 30px;
}

.form-container input {
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
}

.btn-wrapper {
  text-align: center;
}

.password-wrapper {
  position: relative;
  width: 100%;
}

.password-wrapper input {
  width: 100%;
  padding-right: 40px;
  box-sizing: border-box;
}

.toggle-password {
  position: absolute;
  top: 50%; 
  right: 10px; 
  transform: translateY(-90%); 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;  
  height: 24px;  
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;  
  line-height: 0;    
  outline: none;   
}

.toggle-password:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0,0,0,0.2);
  border-radius: 4px;
}