.header {
    height: 60px;
    background-color: #ffffff;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
}

.header-right {
    display: flex;
    gap: 10px;
}

.logo img {
    height: 60px;
    width: auto;
}

