@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@400;500;700&display=swap');

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Akshar', sans-serif;
  color: #003049;
  background-color: #ffffff;
}

.main-container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #003049;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 100px);
}