@use '@shared/styles/media';
@use '@shared/styles/mixins';
.hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &__content {
        padding-block: var(--padding-large);
        text-align: center;
        gap: 32px;
        display: flex;
        flex-direction: column;
       background: 
            linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
            url('@assets/images/hero_bg.png') center/cover no-repeat;
            margin-inline: var(--padding-medium);

        align-items: center;
        width: 100%;
        max-width: 100%;
    }
    
    &__button.button {
        border-radius: var(--border-radius-large);
        min-width: 100px;
        min-height: var(--button-height);
        background-color: white;
        color: var(--color-bg);
        text-align: center;
        @include mixins.fluid-text(32, 16);

        @include media.tablet {
            min-width: 0px;
            min-height: 0px;
            padding-inline: var(--padding-medium);
        }

        @include media.hover {
            background-color: var(--color-light-grey);
        }
    }
}
