<main class="support-tab__content">
    <div class="support-tab__name">
        <h3>Appeals history</h3>
    </div>
    <div class="support-tab__list">
    </div>
    <div id="iframePopup" class="iframe-wrapper" style="display: none;">
        <iframe id="newAppealIframe" src="/newAppeal"></iframe>
        <button id="closeIframeBtn" class="close-iframe" style="display: none;">×</button>
    </div>
    <button class='support-tab__new button' id='openNewAppeal' type='button'>Create new</button>
</main>
