<main class="support-tab__content">
    <div class="support-tab__name">
        <h3>Appeals history</h3>
    </div>

    {{!-- <div id="curAppealFrame" class="curIframe-wrapper">
                <iframe id="curAppealIframe" src="/currentAppeal"></iframe>
                <button id="closeCurIframeBtn" class="close-cur-iframe">×</button>
            </div> --}}
            
    <div class="support-tab__list">
        {{!-- <a class="support-tab__item" id="openCurAppeal">
            <div class="support-tab__item-date">
                <p>01-01-2025</p>
            </div>
            <div class="support-tab__item-tag">
                <p>tag: bug</p>
            </div>
            <div class="support-tab__item-name">
                <p>Message: your service doesn't work</p>
            </div>
            <div class="support-tab__item-status">
                <p>in progress</p>
            </div>
        </a>

        <a class="support-tab__item" id="openCurAppeal">
            <div class="support-tab__item-date">
                <p>01-01-2025</p>
            </div>
            <div class="support-tab__item-tag">
                <p>type: suggestion</p>
            </div>
            <div class="support-tab__item-name">
                <p>Message: your service doesn't work</p>
            </div>
            <div class="support-tab__item-status">
                <p>in progress</p>
            </div>
        </a>         --}}
    </div>

    

    <div id="iframePopup" class="iframe-wrapper">
        <iframe id="newAppealIframe" src="/newAppeal"></iframe>
        <button id="closeIframeBtn" class="close-iframe" style="display: none;">×</button>
    </div>
    
    <button class='support-tab__new button' id='openNewAppeal' type='button'>Create new</button>

</main>
