<main class="support__content">
    <div class="support__name">
        <h3>Appeals history</h3>
    </div>
    <div class="support__list">
    </div>
    <button
        class='support__new button'
        type='button'
        data-navigate='/appeal/new'
    >Create new</button>
</main>