<main class="support__content">
    <div class="support__name">
        <h3>Appeals history</h3>
    </div>
    <div class="support__list">
        <a class="support__item" href='/apppeal/{{id}}' data-navigate>
            <div class="support__item-date">
                <p>01-01-2025</p>
            </div>
            <div class="support__item-tag">
                <p>tag: bug</p>
            </div>
            <div class="support__item-name">
                <p>Message: your service doesn't work</p>
            </div>
            <div class="support__item-status">
                <p>in progress</p>
            </div>
        </a>

        <a class="support__item" href='/apppeal/{{id}}' data-navigate>
            <div class="support__item-date">
                <p>01-01-2025</p>
            </div>
            <div class="support__item-tag">
                <p>type: suggestion</p>
            </div>
            <div class="support__item-name">
                <p>Message: your service doesn't work</p>
            </div>
            <div class="support__item-status">
                <p>in progress</p>
            </div>
        </a>        
    </div>
    <button
                    class='support__new button'
                    type='button'
                    data-navigate='/appeal/new'
                >Create new</button>
</main>