.not-found {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 65vh;

    &__link {
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
        text-decoration: none;
        color: blue;
    }
}