body {
  font-family: 'Akshar', sans-serif;
  color: #003049;
  background-color: #003049;
}

header {
  background-color: white;
}

.btn-login {
    background-color: #FCBF49;
    color: #003049;
}

.btn-login:hover {
    background-color: #EAE2B7;
    color: #003049;
}

.btn-signup {
    background-color: #003049;
    color: white;
}

.btn-signup:hover {
    background-color: #0056b3;
}

.nav .nav-link {
    color: #0056b3;
    font-weight: 500;
}

.nav .nav-link:hover {
    color: #F77F00;
}
