.stars-section {
  text-align: center;
  margin-block: var(--padding-medium);

  &__title {
    padding-bottom: var(--padding-medium);
  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: var(--padding-large);
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 150px;
  }

  &__image {
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;

    &:hover {
      transform: scale(1.05);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  &__name {
    margin-top: var(--padding-small);
  }

  &__role {
    color: var(--color-light-grey);
  }
}
