<div class="films__item">
    <a class="films__card"href="#" id='filmPage'>
        <div class="films__image">
            <img src="{{preview}}" alt="film">
        </div>
    </a>
    <div class="films__info">
        <h3 class="films__title">{{title}}</h3>
        <p class="films__genre">{{genres}}</p>
        <p class="films__genre">{{year}}</p>
    </div>
</div>