.video-container {
    position: relative;
    background: black;
    overflow: hidden;
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin-inline: auto;

    height: calc(100vh - var(--header-height));
    display: flex;
    align-items: center;
    justify-content: center;

    video {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        object-fit: cover;
        display: block;
    }

    &:fullscreen {
        max-height: none;
        max-width: none;
        margin: 0;
        padding: 0;

        width: 100vw;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: black;

        video {
            width: 100vw;
            height: 100%;
            object-fit: cover;
        }
    }

    &.hide-controls,
    &.hide-controls * {
        cursor: none !important;
    }
}

.video-container.controls-visible .video-hud {
    opacity: 1;
    pointer-events: all;
}

.video-hud {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;

    &.visible {
        opacity: 1;
        pointer-events: all;
    }

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);

    padding-inline: var(--padding-medium);
    display: flex;
    row-gap: var(--padding-small);
    padding-bottom: var(--padding-small);
    justify-content: center;
    flex-direction: column;

    align-items: center;
    box-sizing: border-box;

    &__controls {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: var(--padding-medium);
        width: 100%;
    }

    &__controls-left,
    &__controls-right {
        display: flex;
        align-items: center;
        column-gap: var(--padding-medium);
    }

    &__action {
        color: white;
        background: none;
        border: none;
        outline: none;
        align-items: center;
        justify-content: center;

        &-play {
            .icon-play {
                display: block;
            }

            .icon-pause {
                display: none;
            }
        }

        &-pause {
            .icon-play {
                display: none;
            }

            .icon-pause {
                display: block;
            }
        }
    }

    &__mute {
        position: relative;
        display: flex;
        align-items: center;

        &-true {
            .volume-high {
                display: none;
            }

            .volume-mute {
                display: block;
            }
        }

        &-false {
            .volume-mute {
                display: none;
            }

            .volume-high {
                display: block;
            }
        }
    }

    &__progress {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 8px;

        &-bar {
            flex-grow: 1;
        }
    }

    &__fullscreen {
        &-true {
            .fullscreen-icon {
                display: none;
            }

            .exit-fullscreen-icon {
                display: block;
            }
        }

        &-false {
            .exit-fullscreen-icon {
                display: none;
            }

            .fullscreen-icon {
                display: block;
            }
        }
    }

    &__speed {
        border-radius: var(--border-radius);
    }
}

.video-hud {
  opacity: 1 !important;
  pointer-events: all !important;
}
