@use '@shared/styles/media';
@use '@shared/styles/mixins';

.support {
    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 5%;
        min-height: 79vh;
        background: linear-gradient(
            to bottom,
            var(--color-bg),
            var(--color-blue)
        );
    }

    &__form {
        width: 440px;
        min-height: 500px;
        padding: var(--padding-large);
        background-color: var(--color-bg);
        border-radius: var(--border-radius);
        border: var(--border);
        display: flex;
        flex-direction: column;
        row-gap: var(--padding-medium);
    }

    &__title {
        text-align: center;
        font-size: 24px;
        font-weight: 700;
        margin: 0;
    }

    &__label {
        font-size: 14px;
        font-weight: 500;
        color: var(--color-text);
    }

    &__input {
        width: 100%;
        padding: 0 var(--padding-medium);
        border-radius: var(--border-radius);
        border: 1px solid var(--color-light-gray);
        color: var(--color-gray);
        font-family: inherit;

        &:focus {
            outline: none;
            border-color: var(--color-blue);
        }
    }

    &__textarea {
        resize: vertical;
        min-height: 100px;
        padding: var(--padding-medium);
        height: auto;
    }

    &__file-input {
        display: none;
    }

    &__file-label {
        display: inline-block;
        width: 100%;
        height: 54px;
        line-height: 54px;
        padding: 0 var(--padding-medium);
        background-color: var(--color-bg-light);
        border: 1px dashed var(--color-light-gray);
        border-radius: var(--border-radius);
        text-align: center;
        cursor: pointer;
        font-size: 14px;
        color: var(--color-gray);
        transition: all 0.2s;

        @include media.hover {
            border-color: var(--color-blue);
            color: var(--color-text);
        }
    }

    &__error {
        text-align: left;
        color: var(--color-red);
        font-size: 14px;

        &[hidden] {
            display: none;
        }
    }

    &__button {
        width: 100%;
        height: 54px;
        margin-top: var(--padding-small);
    }
}