@font-face {
    font-family: 'Akshar';
    src: url('@assets/fonts/Akshar-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Akshar';
    src: url('@assets/fonts/Akshar-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}