$desktop: 1200px;
$desktop-above: 1201px;
$tablet: 800px;
$tablet-above: 801px;


@mixin desktop {
    @media (max-width: $desktop) {
        @content;
    }
}

@mixin desktop-above {
    @media (min-width: $desktop-above) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: $tablet) {
        @content;
    }
}

@mixin tablet-above {
    @media (min-width: $tablet-above) {
        @content;
    }
}

@mixin hover {
    @media (hover: hover) {
        &:hover {
            @content;
        }
    }

    @media (hover: none) {
        &:active {
            @content;
        }
    }
}