:root {
    --color-bg: #00111A;
    --color-blue: #003049;
    --color-light-blue: blue;
    --color-text: white;
    --color-dark-grey: #1E1E1E;
    --color-light-grey: #B3B3B3;
    --color-grey-hover: #5A5A5A;
    --color-grey-text: #D9D9D9;
    --color-red: #D62828;
    --color-white: white;
    --color-green: #14AE5C;

    --border: 1px solid white;
    --border-radius: 8px;
    --border-radius-large: 50px; 

    --font-family-base: 'Akshar', sans-serif;

    --margin-large: 32px;
    --margin-medium: 16px;
    --margin-small: 8px;

    --padding-large: 32px;
    --padding-medium: 16px;
    --padding-small: 8px;

    --padding: 16px;
    --padding-content: 140px;

    --input-height: 48px;
    --button-height: 48px;

    --transition-duration: 0.3s;

    --container-width: 1600px;
    --container-padding-x: 32px;
    --container-padding-y: 32px;

    --input-height: 48px;
    --input-width: 400px;

    --button-width: 110px;
    --header-height: 145px;
}