:root {
    --color-bg: #00111a;
    --color-blue: #003049;
    --color-light-blue: blue;
    --color-text: white;
    --color-dark-grey: #1e1e1e;
    --color-light-grey: #b3b3b3;
    --color-grey-hover: #5a5a5a;
    --color-grey-text: #d9d9d9;
    --color-red: #d62828;
    --color-white: white;
    --color-green: #14ae5c;

    --border: 1px solid white;
    --border-radius: 8px;
    --border-radius-large: 50px;

    --font-family-base: 'Akshar', sans-serif;

    --margin-large: 32px;
    --margin-medium: 16px;
    --margin-small: 8px;

    --padding-large: 32px;
    --padding-medium: 16px;
    --padding-small: 8px;

    --padding: 16px;
    --padding-content: 140px;

    --input-height: 48px;
    --button-height: 48px;

    --transition-duration: 0.3s;

    --container-width: 1600px;
    --container-padding-x: 32px;
    --container-padding-y: 32px;

    --input-height: 48px;
    --input-width: 400px;

    --button-width: 110px;
    --header-height: 145px;
}
