@use 'normalize';
@use 'fonts';
@use 'mixins';
@use 'media';
@use 'variables';
@use 'utils';
@use 'globals';
@use 'blocks/button';
@use 'blocks/input';
@use 'blocks/header';
@use 'blocks/section';
@use 'blocks/hero';
@use 'blocks/films';
@use 'blocks/film-banner';
@use 'blocks/description';
@use 'blocks/stars-section';
@use 'blocks/films-recommendations';
@use 'blocks/player';
@use 'blocks/footer';
