@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
    box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
    padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure, fieldset):where([class]) {
    margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
    margin-block: 0;
    line-height: 1;
}

:where(dd[class]) {
    margin-left: 0;
}

:where(fieldset[class]) {
    padding: 0;
    border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
    list-style: none;
}

:where(address[class]) {
    font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
    --paragraphMarginBottom: 24px;
    margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
    margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
    display: block;
    max-width: 100%;
    height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
    font: inherit;
}

html {
    /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
    height: 100%;
    /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
    scrollbar-gutter: stable;
    /**
    Плавный скролл
   */
    scroll-behavior: smooth;
}

body {
    /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
    min-height: 100%;
    /**
    Унифицированный интерлиньяж
   */
    line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
    display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
    cursor: pointer;
}

/**
  Убирает серую подсветку при тапе на мобильных устройствах (iOS/Android)
 */
button {
    -webkit-tap-highlight-color: transparent;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill='none'], [fill^='url'])) {
    fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke='none'], [stroke^='url'])) {
    stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
    transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
    border-collapse: collapse;
    border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
    *,
    ::before,
    ::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
@font-face {
    font-family: 'Akshar';
    src: url('../fonts/Akshar-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Akshar';
    src: url('../fonts/Akshar-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
:root {
    --color-bg: #00111a;
    --color-blue: #003049;
    --color-light-blue: blue;
    --color-text: white;
    --color-dark-grey: #1e1e1e;
    --color-light-grey: #b3b3b3;
    --color-grey-hover: #5a5a5a;
    --color-grey-text: #d9d9d9;
    --color-red: #d62828;
    --color-white: white;
    --color-green: #14ae5c;
    --border: 1px solid white;
    --border-radius: 8px;
    --border-radius-large: 50px;
    --font-family-base: 'Akshar', sans-serif;
    --margin-large: 32px;
    --margin-medium: 16px;
    --margin-small: 8px;
    --padding-large: 32px;
    --padding-medium: 16px;
    --padding-small: 8px;
    --padding: 16px;
    --padding-content: 140px;
    --input-height: 48px;
    --button-height: 48px;
    --transition-duration: 0.3s;
    --container-width: 1600px;
    --container-padding-x: 32px;
    --container-padding-y: 32px;
    --input-height: 48px;
    --input-width: 400px;
    --button-width: 110px;
    --header-height: 145px;
}

.container {
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin-inline: auto;
    padding-inline: var(--padding-medium);
}

body {
    font-family: var(--font-family-base);
    font-weight: 400;
    font-size: 16px;
    color: var(--color-text);
    background-color: var(--color-bg);
}

a,
button,
input,
textarea,
svg * {
    transition-duration: var(--transition-duration);
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3 {
    font-weight: 700;
}

h4 {
    font-weight: 400;
}

h1 {
    font-size: clamp(16px, 4vw, 64px);
}

h2 {
    font-size: clamp(16px, 3vw, 48px);
}

h3 {
    font-size: clamp(16px, 2.25vw, 36px);
}

h4 {
    font-size: clamp(16px, 1.5vw, 24px);
}

p {
    font-size: clamp(16px, 1vw, 16px);
}

.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: var(--button-height);
    width: auto;
    padding-inline: var(--padding-medium);
    color: var(--color-text);
    background-color: var(--color-blue);
    border: var(--color-blue);
    border-radius: var(--border-radius);
}
@media (hover: hover) {
    .button:hover {
        background-color: var(--color-light-blue);
    }
}
@media (hover: none) {
    .button:active {
        background-color: var(--color-light-blue);
    }
}

.input {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: var(--input-height);
    width: 100%;
    max-width: var(--input-width);
    min-width: 100px;
    padding-inline: var(--padding-medium);
    color: var(--color-text);
    background-color: transparent;
    border: var(--color-text);
    border: 1px solid white;
    border-radius: var(--border-radius);
    font-size: 16px;
}

.header {
    padding-top: var(--padding-medium);
    row-gap: var(--padding-medium);
}
@media (max-width: 800px) {
    .header {
        padding-top: var(--padding-small);
    }
}
.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    -moz-column-gap: var(--padding-medium);
    column-gap: var(--padding-medium);
}
.header__logo {
    flex-shrink: 0;
    display: flex;
}
.header__logo img {
    width: 32px;
    height: auto;
}
@media (max-width: 800px) {
    .header__logo img {
        min-width: 16px;
    }
}
.header__input {
    flex: 1;
    min-width: 120px;
    max-width: 400px;
    background: url('../images/icons/search.svg') no-repeat 12px center;
    background-size: 16px;
    padding-left: 36px;
}
@media (max-width: 800px) {
    .header__input {
        min-width: 30px;
    }
}
.header__auth {
    display: flex;
    -moz-column-gap: var(--padding-medium);
    column-gap: var(--padding-medium);
}
@media (max-width: 800px) {
    .header__auth {
        -moz-column-gap: var(--padding-small);
        column-gap: var(--padding-small);
    }
}
.header__auth-button {
    height: var(--button-height);
    min-width: 48px;
}
@media (hover: hover) {
    .header__auth-button:hover img {
        opacity: 0.8;
        transform: scale(1.05);
        transition:
            transform 0.2s ease,
            opacity 0.2s ease;
    }
}
@media (hover: none) {
    .header__auth-button:active img {
        opacity: 0.8;
        transform: scale(1.05);
        transition:
            transform 0.2s ease,
            opacity 0.2s ease;
    }
}
.header__menu {
    padding-top: var(--padding-medium);
}
.header__menu-list {
    display: flex;
    align-items: center;
    -moz-column-gap: var(--padding-large);
    column-gap: var(--padding-large);
}
.header__menu-link {
    color: var(--color-grey-text);
    position: relative;
    display: inline-flex;
    align-items: center;
    height: 48px;
    font-size: 24px;
}
@media (hover: hover) {
    .header__menu-link:hover {
        color: white;
        transition-duration: inherit;
    }
}
@media (hover: none) {
    .header__menu-link:active {
        color: white;
        transition-duration: inherit;
    }
}

.section {
    align-content: center;
    padding-bottom: var(--padding-medium);
}
.section__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section__filters {
    display: flex;
    justify-content: space-between;
    -moz-column-gap: var(--padding-medium);
    column-gap: var(--padding-medium);
}
.section__button {
    display: flex;
    -moz-column-gap: var(--padding-small);
    column-gap: var(--padding-small);
    background-color: var(--color-dark-grey);
}
@media (hover: hover) {
    .section__button:hover {
        background-color: var(--color-grey-hover);
    }
}
@media (hover: none) {
    .section__button:active {
        background-color: var(--color-grey-hover);
    }
}

.hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../images/hero_bg.svg') center/cover no-repeat;
}
.hero__content {
    padding-block: var(--padding-large);
    text-align: center;
    gap: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero__button {
    border-radius: var(--border-radius-large);
    min-width: 100px;
    min-height: var(--button-height);
    background-color: white;
    color: var(--color-bg);
    text-align: center;
    font-size: clamp(16px, 2vw, 32px);
}
@media (max-width: 800px) {
    .hero__button {
        min-width: 0px;
        min-height: 0px;
        padding-inline: var(--padding-medium);
    }
}
@media (hover: hover) {
    .hero__button:hover {
        background-color: var(--color-light-grey);
    }
}
@media (hover: none) {
    .hero__button:active {
        background-color: var(--color-light-grey);
    }
}

.films {
    padding-block: var(--padding-large);
    display: grid;
    grid-template-columns: repeat(auto-fit, 240px);
    justify-content: center;
    gap: var(--padding-large) var(--padding-large);
}
.films__image {
    width: 100%;
    border-radius: var(--border-radius-large);
    overflow: hidden;
}
.films__image img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: inherit;
}
.films__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: var(--padding-small);
}
.films__card {
    width: 240px;
    height: 320px;
    border-radius: var(--border-radius-large);
    background-color: white;
    overflow: hidden;
}
.films__card:hover {
    transform: translateY(-3px);
}
.films__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    row-gap: var(--padding-small);
}
.films__genre {
    color: grey;
}

.film-banner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-height: 600px;
}
.film-banner__image {
    width: 100%;
    max-height: 600px;
    -o-object-fit: cover;
    object-fit: cover;
}
.film-banner__overlay {
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    display: flex;
    flex-direction: column;
    row-gap: var(--padding-medium);
    color: white;
    justify-content: center;
    row-gap: var(--padding-medium);
}
.film-banner__title {
    display: flex;
}
.film-banner__actions {
    display: flex;
    gap: var(--padding-medium);
}
.film-banner__button-play {
    background-color: var(--color-red);
    color: var(--color-dark-grey);
}
@media (hover: hover) {
    .film-banner__button-play:hover {
        background-color: orangered;
    }
}
@media (hover: none) {
    .film-banner__button-play:active {
        background-color: orangered;
    }
}
.film-banner__button {
    background-color: var(--color-dark-grey);
}
@media (hover: hover) {
    .film-banner__button:hover {
        background-color: var(--color-grey-hover);
    }
}
@media (hover: none) {
    .film-banner__button:active {
        background-color: var(--color-grey-hover);
    }
}
.film-banner__button-reaction {
    border-radius: 50%;
    background-color: var(--color-dark-grey);
}
@media (hover: hover) {
    .film-banner__button-reaction:hover {
        background-color: var(--color-grey-hover);
    }
}
@media (hover: none) {
    .film-banner__button-reaction:active {
        background-color: var(--color-grey-hover);
    }
}
.film-banner__description {
    padding-left: var(--padding-medium);
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: var(--padding-medium);
}
.film-banner__text {
    display: block;
    max-width: 50%;
    text-align: left;
}
.film-banner__title {
    display: flex;
}
.film-banner__info {
    display: flex;
    align-items: center;
    -moz-column-gap: var(--padding-medium);
    column-gap: var(--padding-medium);
}
.film-banner__info p {
    display: flex;
    align-items: center;
    margin: 0;
}
.film-banner__rating {
    color: var(--color-green);
    margin-left: var(--padding-small);
}

.description {
    padding-block: var(--padding-medium);
}
.description__content {
    display: flex;
    flex-direction: column;
    gap: var(--padding-medium);
}
.description__actor {
    display: flex;
    align-items: center;
    gap: var(--padding-medium);
    margin-bottom: var(--padding-medium);
}
.description__actor-photo {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
}
.description__block {
    display: flex;
    flex-direction: column;
    gap: var(--padding-small);
}
.description__text--hidden {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.description__text--expanded {
    display: block;
    -webkit-line-clamp: unset;
}
.description__button {
    margin-top: var(--padding-small);
    display: flex;
    padding-inline: 0;
    background: none;
    border: none;
    color: var(--color-light-grey);
}
.description__button:hover {
    color: var(--color-text);
}

.stars-section {
    text-align: center;
    margin-block: var(--padding-medium);
}
.stars-section__title {
    padding-bottom: var(--padding-medium);
}
.stars-section__list {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: var(--padding-large);
}
.stars-section__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 150px;
}
.stars-section__image {
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}
.stars-section__image:hover {
    transform: scale(1.05);
}
.stars-section__image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%;
}
.stars-section__name {
    margin-top: var(--padding-small);
}
.stars-section__role {
    color: var(--color-light-grey);
}

.films-recommendations {
    position: relative;
    padding-block: var(--padding-medium);
}
.films-recommendations__title {
    padding-bottom: var(--padding-medium);
    text-align: center;
}
.films-recommendations__wrapper {
    position: relative;
    display: flex;
    align-items: center;
}
.films-recommendations__list {
    display: flex;
    gap: var(--padding-large);
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.films-recommendations__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    font-size: 2rem;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 2;
    transition: 0.3s ease;
}
.films-recommendations__button:hover {
    background: rgba(255, 255, 255, 0.2);
}
.films-recommendations__button--left {
    left: -20px;
}
.films-recommendations__button--right {
    right: -20px;
}

.video-container {
    position: relative;
    background: black;
    overflow: hidden;
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin-inline: auto;
    height: calc(100vh - var(--header-height));
    display: flex;
    align-items: center;
    justify-content: center;
}
.video-container video {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    -o-object-fit: cover;
    object-fit: cover;
    display: block;
}
.video-container:fullscreen {
    max-height: none;
    max-width: none;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
}
.video-container:fullscreen video {
    width: 100vw;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.video-container.hide-controls,
.video-container.hide-controls * {
    cursor: none !important;
}

.video-container.controls-visible .video-hud {
    opacity: 1;
    pointer-events: all;
}

.video-hud {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
    padding-inline: var(--padding-medium);
    display: flex;
    row-gap: var(--padding-small);
    padding-bottom: var(--padding-small);
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
.video-hud.visible {
    opacity: 1;
    pointer-events: all;
}
.video-hud__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    -moz-column-gap: var(--padding-medium);
    column-gap: var(--padding-medium);
    width: 100%;
}
.video-hud__controls-left,
.video-hud__controls-right {
    display: flex;
    align-items: center;
    -moz-column-gap: var(--padding-medium);
    column-gap: var(--padding-medium);
}
.video-hud__action {
    color: white;
    background: none;
    border: none;
    outline: none;
    align-items: center;
    justify-content: center;
}
.video-hud__action-play .icon-play {
    display: block;
}
.video-hud__action-play .icon-pause {
    display: none;
}
.video-hud__action-pause .icon-play {
    display: none;
}
.video-hud__action-pause .icon-pause {
    display: block;
}
.video-hud__mute {
    position: relative;
    display: flex;
    align-items: center;
}
.video-hud__mute-true .volume-high {
    display: none;
}
.video-hud__mute-true .volume-mute {
    display: block;
}
.video-hud__mute-false .volume-mute {
    display: none;
}
.video-hud__mute-false .volume-high {
    display: block;
}
.video-hud__progress {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 8px;
}
.video-hud__progress-bar {
    flex-grow: 1;
}
.video-hud__fullscreen-true .fullscreen-icon {
    display: none;
}
.video-hud__fullscreen-true .exit-fullscreen-icon {
    display: block;
}
.video-hud__fullscreen-false .exit-fullscreen-icon {
    display: none;
}
.video-hud__fullscreen-false .fullscreen-icon {
    display: block;
}
.video-hud__speed {
    border-radius: var(--border-radius);
}

.footer {
    padding-block: var(--padding-medium);
}
.footer__description {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    row-gap: var(--padding-small);
    text-align: center;
}
.footer__title {
    display: flex;
}
.footer__year {
    color: grey;
    display: flex;
} /*# sourceMappingURL=styles.css.map */
