@use '@shared/styles/media';
@use '@shared/styles/mixins';

.description {
  padding-block: var(--padding-medium);

  &__content {
    display: flex;
    flex-direction: column;
    gap: var(--padding-medium);

    @include media.mobile {
      gap: var(--padding-small);
    }
  }

  &__actor {
    display: flex;
    align-items: center;
    gap: var(--padding-medium);
    margin-bottom: var(--padding-medium);
    @include media.mobile {
      margin-bottom: var(--padding-small);
    }
  }

  &__actor-photo {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    @include media.mobile {
      width: 100px;
      height: 100px;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    gap: var(--padding-small);
  }

  &__text--hidden {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__text--expanded {
    display: block;
    -webkit-line-clamp: unset;
  }

  &__button {
    margin-top: var(--padding-small);
    display: flex;
    padding-inline: 0;
    background: none;
    border: none;
    color: var(--color-light-grey);

    &:hover {
      color: var(--color-text);
    }
  }
}
