<main class='content'>
    <section class='section container'>
        <header class='section__header'>
            <h3 class='section__title'>Popular films</h3>
            <div class='section__filters'>
                <button class='section__button button' type='button'>Sort
                    <svg
                        xmlns='http://www.w3.org/2000/svg'
                        width='20'
                        height='20'
                        viewBox='0 0 20 20'
                        fill='none'
                    >
                        <path
                            d='M2.5 10H17.5M2.5 5H17.5M2.5 15H17.5'
                            stroke='white'
                            stroke-width='2'
                            stroke-linecap='round'
                            stroke-linejoin='round'
                        />
                    </svg>
                </button>
                <button class='section__button button' type='button'>Genre
                    <svg
                        xmlns='http://www.w3.org/2000/svg'
                        width='20'
                        height='20'
                        viewBox='0 0 20 20'
                        fill='none'
                    >
                        <path
                            d='M5 7.5L10 12.5L15 7.5'
                            stroke='white'
                            stroke-width='2'
                            stroke-linecap='round'
                            stroke-linejoin='round'
                        />
                    </svg>
                </button>
                <button class='section__button button' type='button'>Year
                    <svg
                        xmlns='http://www.w3.org/2000/svg'
                        width='20'
                        height='20'
                        viewBox='0 0 20 20'
                        fill='none'
                    >
                        <path
                            d='M5 7.5L10 12.5L15 7.5'
                            stroke='white'
                            stroke-width='2'
                            stroke-linecap='round'
                            stroke-linejoin='round'
                        />
                    </svg>
                </button>
            </div>
        </header>
    </section>

    <div class='hero'>
        <div class='hero__content'>
            <h1 class='hero__title'>
                POPFILMS
            </h1>
            <h2 class='hero__description'>
                Popcorn, series and chill
            </h2>
            <button class='hero__button button' type='button'>▶</button>
        </div>
    </div>

    <div class='films container' id='filmsContainer'>
    </div>
</main>