<header class="header">
    <div class="logo">
        <a href="#" id="homeLink">
            <img id="homeLink" src="/img/logo.svg" alt="Popfilms logo" />
        </a>
    </div>
    <div class="header-right">
        <button class="btn sign-up" id="signUpBtn">Sign up</button>
        <button class="btn log-in" id="signInBtn">Log in</button>
    </div>
</header>