<header class="header">
    <div class="container">
        <div class="logo">
            <a href="/" class="d-flex align-items-center text-white text-decoration-none">
                <img src="/img/logo.svg" width="50" height="50" alt="Popfilms logo" />
            </a>
        </div>
        <div class="header-right">
            <button class="btn sign-up text-white" id="signUpBtn">Sign up</button>
            <button class="btn default text-white" id="signInBtn">Sign in</button>
        </div>
    </div>
</header>