<header class='w-100'>
    <div class='container'>
        <div class='row align-items-center py-3 mb-0'>

            <div class='col-4 d-flex justify-content-start ps-4'>
                <a
                    href='/'
                    class='d-flex align-items-center text-dark text-decoration-none'
                >
                    <img
                        src='/img/logo.svg'
                        width='50'
                        height='50'
                        alt='Logo'
                    />
                </a>
            </div>

            <div class='col-4 d-flex justify-content-center'>
                <ul class='nav'>
                    <li><a href='#' class='nav-link px-2 link-dark'>Popular
                            series</a></li>
                    <li><a href='#' class='nav-link px-2 link-dark'>Recommended
                            series</a></li>
                </ul>
            </div>

            <div class='col-4 d-flex justify-content-end pe-4'>
                <button type='button' class='btn btn-login mr-2'>Login</button>
                <button type='button' class='btn btn-signup'>Sign up</button>
            </div>
        </div>
    </div>
</header>